name: Update HiScores
on:
  workflow_dispatch:
  schedule:
    - cron: '40 */2 * * *'
 
jobs:
  hiscores:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          path: newdata
      #- uses: actions/setup-node@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x' 
      - name: Generate new hiscores
        run: |
          pip3 install requests
          python3 newdata/scripts/updateHiscores.py
      - uses: actions/checkout@v6
      - run: |
          ls -a
          cd newdata
          ls -a
          mv newdata/hiscores.csv data/hiscores.csv
      - name: Commit files
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'Update hiscores.csv'
          file_pattern: 'data/hiscores.csv'
          skip_fetch: false
          skip_checkout: false
