name: Update HiScores
on:
  workflow_dispatch:
  schedule:
    - cron: '40 */1 * * *'
 
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x' 
      - name: Generate new HiScores
        run: |
          pip3 install requests
          python3 scripts/updateHiscores.py
      - name: Upload CSV
        uses: actions/upload-artifact@v6
        with:
          name: hiscores-new.csv
          path: data/hiscores-new.csv

  merge:
    needs: generate
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Download CSV
        uses: actions/download-artifact@v7
        with:
          name: hiscores-new.csv
          path: data
      - name: Merge HiScores
        run: python3 scripts/mergeHiscores.py
      - name: Commit files
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'Update hiscores.csv'
          file_pattern: 'data/hiscores.csv'
          skip_fetch: false
          skip_checkout: false
